/.settings
/*.project
/core/.settings
/core/*.classpath
/core/.project
/endpoint/.settings
/endpoint/.classpath
/endpoint/.project
/facade/.settings
/facade/.classpath
/facade/.project
/test/.settings
/test/.classpath
/test/.project
/web/.settings
/web/logs
/web/.classpath
/web/.project
